.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  .navbar-wrapper {
    padding: 0 32px;
    border-bottom: 1px solid #dcdfe6;
    height: var(--header-height);
    background-image: radial-gradient(transparent 1px, #ffffff 1px);

    .header-container {
      display: flex;
      justify-content: space-between;
      max-width: 1362px;
      margin: 0 auto;

      .logo-container {
        a {
          text-decoration: none;
          color: var(--el-color-primary);
        }

        img {
          width: 28px;
          vertical-align: middle;
          margin-right: 8px;
        }
      }

      .content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

.is-menu-link {
  display: block;
  padding: 0 12px;
  line-height: calc(var(--nav-height) - 3px);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  transition: color var(--el-transition-duration);
  border-bottom: 2px solid transparent;
  text-decoration: none;

  &.active {
    border-bottom-color: var(--brand-color);
  }
}

.navbar-menu {
  display: none;
}

.social-links {
  height: 24px;
  padding: 0 12px;

  .social-link {
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .navbar-wrapper .content {
    padding-top: 1px;
  }

  .navbar-menu {
    display: flex;
  }
}

.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  padding: 48px 32px 96px 100px;
  width: 190px;
  overflow: auto;

  .sidebar-groups .sidebar-group__title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 24px;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--text-color-light);
    padding: 10px 16px;
    line-height: 1.5;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 500;

    &.active {
      font-weight: 600;
      color: var(--el-color-primary-dark-2);
      background-color: var(--link-active-bg-color);
    }
  }
}

.page-content {
  padding: 48px 100px 0 380px;

  .blog-content {
    img {
      max-width: 100%;
    }
  }
}