.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  .navbar-wrapper {
    padding: 0 32px;
    border-bottom: 1px solid #dcdfe6;
    height: 55px;
    background-image: radial-gradient(transparent 1px, #ffffff 1px);

    .header-container {
      max-width: 1362px;
      margin: 0 auto;
      line-height: 55px;

      a {
        margin-right: 10px;

        &.active {
          color: #409eff;
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  padding: 48px 32px 96px 100px;
  width: 190px;

  a {
    display: block;
    text-decoration: none;
    color: var(--text-color-light);
    padding: 10px 16px;
    line-height: 1.5;
    font-size: .9rem;
    border-radius: 8px;

    &.active {
      color: var(--el-color-primary-dark-2);
      background-color: var(--link-active-bg-color);
    }
  }
}

.page-content {
  padding: 48px 100px 0 320px;

  .blog-content {
    img {
      max-width: 100%;
    }
  }
}