:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-mono: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --text-color: var(--el-text-color-primary);
  --code-bg-color: var(--el-fill-color-light);
  --code-text-color: var(--text-color);
  --code-font-family: var(--font-family-mono);
  --link-active-bg-color: rgba(var(--el-color-primary-rgb), .1);
}

body {
  margin: 0;
  color: var(--text-color);
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}