.home-content {
  text-align: center;
}

.logo {
  width: 100px;
}

.description {
  padding: 50px 0;
}

.join-us {
  padding: 20px 0 40px;
}

.footer-main {
  border-top: 1px solid #dcdfe6;
  margin-top: 24px;
  padding: 1.5rem 0;
}