// markdown样式
.markdown-body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #60626B;
  }

  &>table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;

    tr {
      background-color: #ffffff;
      border-top: #d0d7de;

      &:first-child th {
        border-top: none;
      }
    }

    th,
    td {
      border-top: 1px solid #dcdfe6;
      border-bottom: 1px solid #dcdfe6;
      padding: 0.6em 1em;
      text-align: left;
      max-width: 250px;
      white-space: pre-wrap;
    }
  }

  p>code {
    margin: 0;
    border-radius: 4px;
    padding: 0.15rem 0.5rem;
    font-family: var(--code-font-family);
    color: var(--code-text-color);
    background-color: var(--code-bg-color);
  }

  pre code.hljs {
    line-height: 1.4;
  }

  .text-sm,
  [text~="sm"] {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &>pre {
    background-color: var(--code-bg-color);
    padding: 1rem 1.5rem;
    border-radius: 6px;

    code[class*=language-] {
      position: relative;
      overflow-x: auto;
    }
  }

  [class*=language-] {
    font-family: var(--prism-font-family);
  }
}