.code-block {
  border: 1px solid #dcdfe6;
}

.code-block-component {
  padding: 1em;
}

.code-block-pre {
  position: relative;

  &>code {
    display: block;
    padding: 1em !important;
    background-color: #f6f6f6;
  }
}

pre {
  margin: 0;
}

[class*=language-]:before {
  position: absolute;
  top: 0.4em;
  right: 0.8em;
  z-index: 2;
  opacity: .6;
  font-size: .8em;
  color: #303133;
}

[class~=language-react]:before {
  content: "react";
}